@import '../../var';

.section-tickets__form {
  flex-grow: 1;

  &-types,
  &-amount {
    display: flex;
    flex-direction: column;
  }

  &-types {
    label + label {
      margin-block-start: 2.5rem;
    }

    @media (max-width: $desktop) {
      display: none;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-transform: capitalize;

    @media (max-width: $tablet) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  &-total {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    margin-block: 5rem;

    @media (max-width: $desktop) {
      margin-block: 4rem;

      @media (max-width: $tablet) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
      }
    }
  }

  &-btn {
    height: 5rem;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--black);
    border-radius: 0.2rem;

    &:hover {
      color: var(--black);
      background-color: var(--gold-hover);
    }
  }
}

.form-title_type {
  margin-block-end: 5rem;
}

.form-title_amount {
  text-align: right;
  margin-block-end: 2.5rem;

  @media (max-width: $desktop) {
    text-align: left;

    @media (max-width: $tablet) {
      text-align: center;
      margin-block-end: 2rem;
    }
  }
}
