@import '../../var';

.section-tickets__form {
  flex-grow: 1;

  &-types,
  &-amount {
    border: none;
    display: flex;
    flex-direction: column;
  }

  &-types {
    label {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 2.6rem;
      text-transform: capitalize;
      cursor: pointer;
      transition: color 0.2s linear;

      &:hover {
        color: var(--gold-hover);
      }
    }

    label + label {
      margin-block-start: 2.5rem;
    }

    input[type='radio'] {
      display: grid;
      place-content: center;

      -webkit-appearance: none;
      appearance: none;
      background-color: var(--white);

      color: currentColor;
      width: 1.7rem;
      height: 1.7rem;
      border: 0.2rem solid currentColor;
      border-radius: 100%;
      cursor: inherit;

      &::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 100%;
        transform: scale(0);
        transition: transform 0.2s linear;
        box-shadow: inset 1rem 1rem currentColor;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    @media (max-width: $desktop) {
      display: none;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-transform: capitalize;
  }
}

.form-title_type {
  margin-block-end: 5rem;
}

.form-title_amount {
  text-align: right;
  margin-block-end: 2.5rem;

  @media (max-width: $tablet) {
    margin-block-end: 4rem;

    @media (max-width: $mobile) {
      margin-block-end: 2rem;
    }
  }
}
